---
// Keystatic admin page
---

<html lang="id">
  <head>
    <title>Admin - Rezal Blog CMS</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <script>
      // Redirect to Keystatic app
      window.location.href = '/_keystatic/';
    </script>
    <p>Redirecting to Keystatic CMS...</p>
  </body>
</html>
